h1{    
    font-family: Rockwell;
}

p{
    font-family: Segoe UI Light;
    font-size: 20px;
}
.blur {
   
   text-shadow: 0 0 5px rgba(0,0,0,0.5);    
}


.light-text {
    color: rgb(217, 217, 217);
}

.font-40 {
    font-size: 40px;
}

.font-50 {
    font-size: 50px;
}

.font-60 {
    font-size: 60px;
}

.font-70 {
    font-size: 70px;
}

.font-80 {
    font-size: 80px;
}


.no-top {

    margin-top: 0px;
    padding-top: 0px;
}

#spoil {
    text-shadow: 0 0 20px #fff;
    color: rgba(255,255,255,0);
    transition: text-shadow 0.3s;
}

#spoil:hover {
    text-shadow: 0 0 0px #fff; color: rgba(255,255,255,0);
}

#spoil:focus {
    text-shadow: 0 0 0px #fff; color: rgba(255,255,255,0);
}


.tribe-titles {
    color: white;
    font-size: 30px;
    text-align: center;
}

.tribe-desc {
    color: white;
    text-align: center;
    font-family: Segoe UI;
    font-size: 18px;
}

#apps-name {
    font-size: 80px;
}
